/* Global */

*{
    box-sizing: border-box;
}

/** General **/

:root{
    --color-bg: #F8FAFC;
    --color-surface: #FFFFFF;
    --color-sidebar: #0F172A;

    --color-heading: #0F172A;
    --color-text: #334155;
    --color-muted: #94A3B8;

    --color-income: #059669;
    --color-expense: #DC2626;

    --color-border: #CBD5E1;
}

/** Layout **/

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
    
    height: 100vh;
}

/** Sidebar **/

aside{

    width: 20rem;
    padding: 1rem;
    background-color: var(--color-sidebar);
    color: var(--color-surface);

    text-align: center;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav a{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-surface);
    padding: 1rem;
    border: 1px solid var(--color-text);
}

nav a.active{
    background-color: var(--color-text);
    color: var(--color-surface);
}

/** Main **/

section{

    display: flex;
    flex-direction: column;

    flex: 1;

    padding: 1rem;

    gap: 2rem;

    color: var(--color-text);
}

/* Buttons */

button{

    background-color: var(--color-sidebar);
    color: var(--color-surface);

    font-size: 0.9rem;
    font-weight: bold;

    height: 3rem;

    border: none;

}

/* Header */

header{
    display: flex;

    align-items: center;
}

header button{
    margin-left: auto;
    width: 8rem;
}

/* Search */

#search{
    padding: 1rem;

    font-size: large;

    background-color: var(--color-sidebar);
    color: var(--color-surface);
}

/* Search Filters */

.search-filters button{
    width: 10rem;
}

/* Expenses */

table{
    width: 100%;
    border-collapse: collapse;

    text-align: center;
}

.expense{
    background-color: var(--color-sidebar);
    color: var(--color-surface);
}

.expense td, .expense th{
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-border);
}

.expense-actions{
    display: flex;

    justify-content: center;

    gap: 1rem;
}

/* Add Expense Popup */

dialog{
    width: 20rem;
}

.dialog-content{
    display: flex;
    flex-direction: column;

    text-align: center;

    gap: 1rem;
}

.dialog-content input{
    padding: 1rem;
}

.dialog-content select{
    padding: 1rem;
}

.dialog-content textarea{

    padding: 1rem;
    height: 10rem;
}

.popup-actions{
    
    display: flex;

    gap: 1rem;

    justify-content: center;
}

.popup-actions button{
    width: 4rem;
}

/* View expense popup */

#view-expense-dialog{
    text-align: center;
}

.expense-dialog{
    text-align: left;
}

/* Footer */

footer{

    display: flex;

    justify-content: center;

    margin-top: auto;

    gap: 0.5rem;
}

footer button{
    width: 3rem;
}

/* Effects */

.expense:hover{
    background-color: var(--color-text);
}

button:hover{
    background-color: var(--color-text);

    cursor: pointer;
}

.expense-actions i:hover{
    color: var(--color-muted);

    cursor: pointer;
}