/* Global */

*{
    box-sizing: border-box;
}

/** General **/

:root{
    --bg-dark: #0F172A;
    --bg-light: #F8FAFC;

    --clr-heading-light-bg: #0F172A;
    --clr-heading-dark-bg: #F8FAFC;
    --clr-body: #334155;
    --clr-muted: #94A3B8;

    --clr-income: #059669;
    --clr-expense: #DC2626;
}

/** Layout **/

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
}

/** Sidebar **/

aside{

    width: 20rem;
    padding: 1rem;
    background-color: var(--bg-dark);
    color: var(--clr-heading-dark-bg);
}

nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav a{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--clr-heading-dark-bg);
    padding: 1rem;
    border: 1px solid var(--clr-body);
}

nav a.active{
    background-color: var(--clr-body);
    color: var(--clr-heading-dark-bg);
}

/** Main **/

/** Expense Summary **/

section{

    display: flex;
    flex-direction: column;

    flex: 1;

    width: 80%;

    padding: 1rem;

    gap: 2rem;

    color: var(--clr-body);
}

article{
    text-align: center;
}

.expense-summary{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.summary-card{

    width: 15rem;
    padding: 1rem;

    background-color: var(--bg-dark);
    color: var(--clr-heading-dark-bg);

    box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.2);

}

@media (max-width: 900px){
    .expense-summary{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .expense-summary{
        grid-template-columns: 1fr;
    }
}

/** Expenses Over Time **/

.expenses-period{
    display: flex;

    justify-content: right;

    gap: 0.5rem;

    list-style: none;
}

.expenses-period button{

    width: 5rem;
    font-weight: bold;

    background-color: var(--bg-dark);
    color: var(--clr-heading-dark-bg);

    border: none;

    padding: 0.5rem;
}

.expenses-period-chart{
    border: 1px solid var(--clr-body);

    height: 15rem;
}

/** Other Charts **/

.other-charts{
    display: flex;

    justify-content: center;

    gap: 2rem;
}

.analytics-card{

    flex: 1;
    min-height: 20rem;

    border: 1px solid var(--clr-body);

    padding: 2rem;
}

/* Recent Expenses */

.recent-expenses{
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.expense{
    display: flex;

    background-color: var(--bg-dark);
    color: var(--clr-heading-dark-bg);
}

.expense div{
    width: 5rem;
    padding: 0.8rem;

    border: 1px solid var(--bg-light);

    border-left: none;
    border-top: none;
    /* border-right: none; */
}

/** Effects **/

nav a:hover{
    background-color: var(--clr-body);
    color: var(--clr-heading-dark-bg);
}

.summary-card:hover{
    background-color: var(--clr-body);
    cursor: pointer;
}

.expenses-period button:hover{
    cursor: pointer;

    background-color: var(--clr-body);
}

.expense:hover{
    background-color: var(--clr-body);

    cursor: pointer;
}